# Dependencies
node_modules/
frontend/node_modules/
admin-panel/node_modules/

# Next.js
.next/
frontend/.next/
admin-panel/.next/

# Production
build/
dist/
out/

# Environment Files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
frontend/.env*
admin-panel/.env*

# OS Files
.DS_Store
Thumbs.db

# Misc
.vercel
*.tsbuildinfo
next-env.d.ts
frontend/next-env.d.ts
admin-panel/next-env.d.ts
